In [1]:
import pandas_datareader as pdr

ModuleNotFoundError: No module named 'pandas_datareader'

In [2]:
!pip install pandas_datareader

Collecting pandas_datareader
  Downloading https://files.pythonhosted.org/packages/22/f1/a02eea03628865c3d4c29849cda8c8a73f43358048aee47d79dfbfa6c6c3/pandas_datareader-0.9.0-py3-none-any.whl (107kB)
Requirement already satisfied: lxml in d:\python\lib\site-packages (from pandas_datareader) (4.4.1)
Requirement already satisfied: requests>=2.19.0 in d:\python\lib\site-packages (from pandas_datareader) (2.22.0)
Requirement already satisfied: pandas>=0.23 in d:\python\lib\site-packages (from pandas_datareader) (0.25.1)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in d:\python\lib\site-packages (from requests>=2.19.0->pandas_datareader) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in d:\python\lib\site-packages (from requests>=2.19.0->pandas_datareader) (1.24.2)
Requirement already satisfied: certifi>=2017.4.17 in d:\python\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2019.9.11)
Requirement already satisfied: idna<2.9,>=2.5 in d:\python\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2.8)
Requirement already satisfied: numpy>=1.13.3 in d:\python\lib\site-packages (from pandas>=0.23->pandas_datareader) (1.16.5)
Requirement already satisfied: python-dateutil>=2.6.1 in d:\python\lib\site-packages (from pandas>=0.23->pandas_datareader) (2.8.0)
Requirement already satisfied: pytz>=2017.2 in d:\python\lib\site-packages (from pandas>=0.23->pandas_datareader) (2019.3)
Requirement already satisfied: six>=1.5 in d:\python\lib\site-packages (from python-dateutil>=2.6.1->pandas>=0.23->pandas_datareader) (1.12.0)
Installing collected packages: pandas-datareader
Successfully installed pandas-datareader-0.9.0

In [3]:
import pandas_datareader as pdr

In [4]:
import datetime

In [5]:
import numpy as np

In [11]:
vale3 = pdr.get_data_yahoo('VALE3.SA', start=datetime.datetime(2020,1,1), end=datetime.datetime(2020,11,30))

In [13]:
display(vale3.tail())

                 High        Low       Open      Close      Volume  Adj Close
Date
2020-11-23  71.320000  68.500000  68.809998  71.290001  38662400.0  71.290001
2020-11-24  74.889999  70.180000  71.050003  74.800003  49842200.0  74.800003
2020-11-25  75.900002  73.610001  73.800003  75.500000  36269100.0  75.500000
2020-11-26  76.599998  75.400002  75.419998  76.570000  20359000.0  76.570000
2020-11-27  78.779999  76.769997  77.000000  78.199997  35777100.0  78.199997

In [14]:
display(vale3.head())

                 High        Low       Open      Close      Volume  Adj Close
Date
2020-01-02  54.439999  53.750000  53.980000  54.330002  17509700.0  52.150002
2020-01-03  54.500000  53.580002  53.680000  53.930000  17284800.0  51.766048
2020-01-06  53.799999  53.150002  53.799999  53.610001  32787800.0  51.458889
2020-01-07  54.189999  53.400002  53.500000  54.000000  16326400.0  51.833241
2020-01-08  54.369999  53.619999  54.200001  54.009998  15298500.0  51.842838

In [15]:
display(vale3.describe())

,High,Low,Open,Close,Volume,Adj Close
count,226.000000,226.000000,226.000000,226.000000,2.260000e+02,226.000000
mean,55.595708,53.888274,54.747566,54.759380,2.996638e+07,53.078708
std,7.871570,8.153372,7.949091,8.074288,1.596008e+07,8.363273
min,35.860001,32.450001,35.549999,34.099998,7.831800e+06,32.731731
25%,51.067501,49.799999,50.350000,50.107499,2.172992e+07,48.096926
50%,56.304998,54.965000,55.564999,55.605000,2.720690e+07,53.373838
75%,62.175000,60.257499,61.165000,61.227500,3.322332e+07,59.138113
max,78.779999,76.769997,77.000000,78.199997,1.825358e+08,78.199997

In [16]:
print(vale3.index)

DatetimeIndex(['2020-01-02', '2020-01-03', '2020-01-06', '2020-01-07',
               '2020-01-08', '2020-01-09', '2020-01-10', '2020-01-13',
               '2020-01-14', '2020-01-15',
               ...
               '2020-11-13', '2020-11-16', '2020-11-17', '2020-11-18',
               '2020-11-19', '2020-11-23', '2020-11-24', '2020-11-25',
               '2020-11-26', '2020-11-27'],
              dtype='datetime64[ns]', name='Date', length=226, freq=None)

In [19]:
print(vale3.columns)

Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')

In [20]:
vale3.Close/vale3.Open

Date
2020-01-02    1.006484
2020-01-03    1.004657
2020-01-06    0.996468
2020-01-07    1.009346
2020-01-08    0.996494
                ...
2020-11-23    1.036041
2020-11-24    1.052780
2020-11-25    1.023035
2020-11-26    1.015248
2020-11-27    1.015584
Length: 226, dtype: float64

In [21]:
pct_c = (vale3.Close / vale3.Open).apply(lambda x:x-1)*100

In [22]:
display(pct_c.head(10))

Date
2020-01-02    0.648393
2020-01-03    0.465723
2020-01-06   -0.353157
2020-01-07    0.934579
2020-01-08   -0.350558
2020-01-09   -0.837211
2020-01-10   -0.725580
2020-01-13    3.094705
2020-01-14    0.614828
2020-01-15    0.289331
dtype: float64

In [30]:
daily_log_returns = np.log(vale3.Close.pct_change()+1)

In [26]:
!pip install plotly

Collecting plotly
  Downloading https://files.pythonhosted.org/packages/4c/f3/93bc71d449828098efc7dda0a682937762d0c17f6140dcbc6fc6fa2a467d/plotly-4.13.0-py2.py3-none-any.whl (13.1MB)
Requirement already satisfied: six in d:\python\lib\site-packages (from plotly) (1.12.0)
Collecting retrying>=1.3.3 (from plotly)
Installing collected packages: retrying, plotly
Successfully installed plotly-4.13.0 retrying-1.3.3

In [36]:
import plotly as py

In [40]:
plotly_username ="username"
plotly_key = "api_ley"
data = [Histogram(x=daily_log_returns)]
pyplot.iplot(data,filename='basic histogram')

NameError: name 'Histogram' is not defined

AttributeError: module 'plotly' has no attribute 'sign_in'