In [13]:
import pandas_datareader as web
import datetime
import numpy as np

In [19]:
abev3  = web.get_data_yahoo('ABEV3.SA', start=datetime.datetime(2020,1,1), end='today')
pct_abev = (abev3.Close / abev3.Open).apply(lambda x:x-1)*100
display(pct_abev.head(10))

Date
2020-01-02    1.802758
2020-01-03   -0.105543
2020-01-06    0.848355
2020-01-07    0.052495
2020-01-08   -0.628606
2020-01-09   -0.947370
2020-01-10    0.371943
2020-01-13    1.479127
2020-01-14   -0.520835
2020-01-15   -1.263157
dtype: float64

In [17]:
display(abev3.tail())

             High    Low       Open      Close      Volume  Adj Close
Date
2020-12-30  16.10  15.65  16.049999  15.650000  19432700.0  15.650000
2021-01-04  15.85  15.38  15.790000  15.480000  17835200.0  15.480000
2021-01-05  16.02  15.23  15.370000  15.810000  37105800.0  15.810000
2021-01-06  16.23  15.63  15.660000  16.129999  28371600.0  16.129999
2021-01-07  16.24  15.91  16.030001  16.040001  21574500.0  16.040001

In [14]:
vale3 = web.get_data_yahoo('VALE3.SA', start=datetime.datetime(2020,1,1), end='today')
bees3  = web.get_data_yahoo('BEES3.SA', start=datetime.datetime(2020,1,1), end='today')

itsa4  = web.get_data_yahoo('ITSA4.SA', start=datetime.datetime(2020,1,1), end='today')
klbn4  = web.get_data_yahoo('KLBN4.SA', start=datetime.datetime(2020,1,1), end='today')
wege3  = web.get_data_yahoo('WEGE3.SA', start=datetime.datetime(2020,1,1), end='today')
grnd3  = web.get_data_yahoo("GRND3.SA", start=datetime.datetime(2020,1,1), end='today')
mrve3  = web.get_data_yahoo("MRVE3.SA", start=datetime.datetime(2020,1,1), end='today')
bbas3  = web.get_data_yahoo("BBAS3.SA", start=datetime.datetime(2020,1,1), end='today')
itub4  = web.get_data_yahoo("ITUB4.SA", start=datetime.datetime(2020,1,1), end='today')
egie3  = web.get_data_yahoo("EGIE3.SA", start=datetime.datetime(2020,1,1), end='today')
sqia3  = web.get_data_yahoo("SQIA3.SA", start=datetime.datetime(2020,1,1), end='today')
bpan4  = web.get_data_yahoo("BPAN4.SA", start=datetime.datetime(2020,1,1), end='today')
tpis3  = web.get_data_yahoo("TPIS3.SA", start=datetime.datetime(2020,1,1), end='today')
tris3  = web.get_data_yahoo("TRIS3.SA", start=datetime.datetime(2020,1,1), end='today')
jhsf3  = web.get_data_yahoo("JHSF3.SA", start=datetime.datetime(2020,1,1), end='today')

In [7]:
display(vale3.tail())

In [6]:
display(vale3.head())

In [12]:
display(itub4.tail())

                 High        Low       Open      Close      Volume  Adj Close
Date
2020-12-30  32.330002  31.629999  32.200001  31.629999  25644400.0  31.615000
2021-01-04  31.990000  30.840000  31.980000  30.900000  31347800.0  30.900000
2021-01-05  31.059999  30.170000  30.730000  30.700001  28249800.0  30.700001
2021-01-06  32.060001  30.790001  30.980000  31.600000  43061900.0  31.600000
2021-01-07  32.730000  31.500000  31.650000  32.720001  30875400.0  32.720001

                 High        Low       Open      Close      Volume  Adj Close
Date
2020-01-02  54.439999  53.750000  53.980000  54.330002  17509700.0  52.150002
2020-01-03  54.500000  53.580002  53.680000  53.930000  17284800.0  51.766048
2020-01-06  53.799999  53.150002  53.799999  53.610001  32787800.0  51.458889
2020-01-07  54.189999  53.400002  53.500000  54.000000  16326400.0  51.833241
2020-01-08  54.369999  53.619999  54.200001  54.009998  15298500.0  51.842838

In [11]:
display(vale3.describe())

,High,Low,Open,Close,Volume,Adj Close
count,227.000000,227.000000,227.000000,227.000000,2.270000e+02,227.000000
mean,55.700396,53.990617,54.853744,54.861762,3.004844e+07,53.188494
std,8.010949,8.280152,8.091205,8.202748,1.597265e+07,8.507105
min,35.860001,32.450001,35.549999,34.099998,7.831800e+06,32.731731
25%,51.075001,49.799999,50.360001,50.115000,2.175235e+07,48.104126
50%,56.349998,55.000000,55.599998,55.619999,2.724270e+07,53.388237
75%,62.190001,60.279999,61.195000,61.280001,3.357570e+07,59.166681
max,79.360001,77.120003,78.849998,78.199997,1.825358e+08,78.199997

In [12]:
print(vale3.index)

DatetimeIndex(['2020-01-02', '2020-01-03', '2020-01-06', '2020-01-07',
               '2020-01-08', '2020-01-09', '2020-01-10', '2020-01-13',
               '2020-01-14', '2020-01-15',
               ...
               '2020-11-16', '2020-11-17', '2020-11-18', '2020-11-19',
               '2020-11-23', '2020-11-24', '2020-11-25', '2020-11-26',
               '2020-11-27', '2020-11-30'],
              dtype='datetime64[ns]', name='Date', length=227, freq=None)

In [13]:
print(vale3.columns)

Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')

In [14]:
vale3.Close/vale3.Open

Date
2020-01-02    1.006484
2020-01-03    1.004657
2020-01-06    0.996468
2020-01-07    1.009346
2020-01-08    0.996494
                ...
2020-11-24    1.052780
2020-11-25    1.023035
2020-11-26    1.015248
2020-11-27    1.015584
2020-11-30    0.989220
Length: 227, dtype: float64

In [21]:
pct_c = (vale3.Close / vale3.Open).apply(lambda x:x-1)*100

In [22]:
display(pct_c.head(10))

Date
2020-01-02    0.648393
2020-01-03    0.465723
2020-01-06   -0.353157
2020-01-07    0.934579
2020-01-08   -0.350558
2020-01-09   -0.837211
2020-01-10   -0.725580
2020-01-13    3.094705
2020-01-14    0.614828
2020-01-15    0.289331
dtype: float64

In [20]:
daily_log_returns = np.log(vale3.Close.pct_change()+1)

In [26]:
!pip install plotly

Collecting plotly
  Downloading https://files.pythonhosted.org/packages/4c/f3/93bc71d449828098efc7dda0a682937762d0c17f6140dcbc6fc6fa2a467d/plotly-4.13.0-py2.py3-none-any.whl (13.1MB)
Requirement already satisfied: six in d:\python\lib\site-packages (from plotly) (1.12.0)
Collecting retrying>=1.3.3 (from plotly)
Installing collected packages: retrying, plotly
Successfully installed plotly-4.13.0 retrying-1.3.3

In [21]:
import plotly as py

In [24]:
plotly_username ="username"
plotly_key = "api_ley"
data = [histogram(x=daily_log_returns)]
pyplot.iplot(data,filename='basic histogram')

NameError: name 'histogram' is not defined