In [30]:
import pandas_datareader as web
import datetime
import numpy as np 

bees3  = web.get_data_yahoo('BEES3.SA', start='2019-08-15')
abev3  = web.get_data_yahoo('ABEV3.SA', start='2019-08-15', end='2020-09-30')
itsa4  = web.get_data_yahoo('ITSA4.SA', start='2019-08-15', end='2020-09-30')
klbn4  = web.get_data_yahoo('KLBN4.SA', start='2019-08-15', end='2020-09-30')
wege3  = web.get_data_yahoo('WEGE3.SA', start='2019-08-15', end='2020-09-30')
grnd3  = web.get_data_yahoo("GRND3.SA", start='2019-08-15', end='2020-09-30')
mrve3  = web.get_data_yahoo("MRVE3.SA", start='2019-08-15', end='2020-09-30')
bbas3  = web.get_data_yahoo("BBAS3.SA", start='2019-08-15', end='2020-09-30')
itub4  = web.get_data_yahoo("ITUB4.SA", start='2019-08-15', end='2020-09-30')
egie3  = web.get_data_yahoo("EGIE3.SA", start='2019-08-15', end='2020-09-30')
sqia3  = web.get_data_yahoo("SQIA3.SA", start='2019-08-15', end='2020-09-30')
bpan4  = web.get_data_yahoo("BPAN4.SA", start='2019-08-15', end='2020-09-30')
tpis3  = web.get_data_yahoo("TPIS3.SA", start='2019-08-15', end='2020-09-30')
tris3  = web.get_data_yahoo("TRIS3.SA", start='2019-08-15', end='2020-09-30')
jhsf3  = web.get_data_yahoo("JHSF3.SA", start='2019-08-15', end='2020-09-30')

itsa4 = web.get_data_yahoo('ITSA4.SA')
vale3 = web.get_data_yahoo('VALE3.SA')

In [12]:
print(vale3.index)

DatetimeIndex(['2015-10-15', '2015-10-16', '2015-10-19', '2015-10-20',
               '2015-10-21', '2015-10-22', '2015-10-23', '2015-10-26',
               '2015-10-27', '2015-10-28',
               ...
               '2020-09-29', '2020-09-30', '2020-10-01', '2020-10-02',
               '2020-10-05', '2020-10-06', '2020-10-07', '2020-10-08',
               '2020-10-09', '2020-10-13'],
              dtype='datetime64[ns]', name='Date', length=1241, freq=None)

In [13]:
vale3['2018-01-01':].head(10)

                 High        Low       Open      Close      Volume  Adj Close
Date
2018-01-02  41.740002  40.439999  40.439999  41.720001  14156500.0  37.493320
2018-01-03  41.880001  41.299999  41.830002  41.470001  12744200.0  37.268650
2018-01-04  42.369999  41.520000  41.810001  41.639999  18433000.0  37.421429
2018-01-05  42.290001  41.310001  41.570000  42.290001  15251300.0  38.005577
2018-01-08  43.230000  42.400002  42.400002  43.230000  14542800.0  38.850346
2018-01-09  43.750000  42.930000  43.580002  43.070000  15986200.0  38.706554
2018-01-10  42.950001  42.419998  42.740002  42.470001  12149500.0  38.167339
2018-01-11  43.299999  42.599998  42.599998  43.299999  10236300.0  38.913254
2018-01-12  43.660000  42.750000  42.950001  43.549999  15014300.0  39.137920
2018-01-15  43.720001  43.270000  43.500000  43.470001   7253400.0  39.066032

In [24]:
pct_c = (vale3.Close / vale3.Open).apply(lambda x:x-1)*100
display(pct_c.head(10))

Date
2015-10-15    0.583238
2015-10-16   -2.332983
2015-10-19   -3.313420
2015-10-20   -1.620106
2015-10-21    2.784090
2015-10-22    1.703294
2015-10-23   -3.376621
2015-10-26   -3.719669
2015-10-27   -4.379555
2015-10-28   -1.720053
dtype: float64

In [22]:
# Variação do fechamento no dia em relação a um intervalo de tempo no tail.
pct_c = (itsa4.Close / itsa4.Open).apply(lambda x:x-1)*100
display(pct_c.tail(10))

Date
2020-09-29   -1.781736
2020-09-30   -0.900900
2020-10-01    0.564963
2020-10-02    0.563700
2020-10-05    0.335943
2020-10-06   -0.773488
2020-10-07   -1.111115
2020-10-08    4.713806
2020-10-09    0.862068
2020-10-13   -0.851063
dtype: float64

In [23]:
pct_c = (bees3.Close / bees3.Open).apply(lambda x:x-1)*100
display(pct_c.tail(10))

Date
2020-09-17   -0.583652
2020-09-18   -0.584799
2020-09-21    0.396039
2020-09-22    0.395257
2020-09-23   -1.377947
2020-09-24   -0.398406
2020-09-25    0.000000
2020-09-28   -1.571708
2020-09-29    0.000000
2020-09-30   -0.597614
dtype: float64

In [25]:
pct_c = (mrve3.Close / mrve3.Open).apply(lambda x:x-1)*100
display(pct_c.tail(10))

Date
2020-09-17   -2.183903
2020-09-18   -4.124920
2020-09-21    1.130655
2020-09-22    3.086420
2020-09-23   -1.857408
2020-09-24    0.911852
2020-09-25    0.548447
2020-09-28   -5.649036
2020-09-29    0.190838
2020-09-30    1.706703
dtype: float64

In [31]:
daily_log_returns = np.log(vale3.Close.pct_change()+1)

In [39]:
!pip install plotly

Collecting plotly
  Downloading https://files.pythonhosted.org/packages/68/47/cec583df9ffb6142b84698c1be2124ef8f786f1e9a4307fae331377ccddc/plotly-4.11.0-py2.py3-none-any.whl (13.1MB)
Collecting retrying>=1.3.3 (from plotly)
  Downloading https://files.pythonhosted.org/packages/44/ef/beae4b4ef80902f22e3af073397f079c96969c69b2c7d52a57ea9ae61c9d/retrying-1.3.3.tar.gz
Requirement already satisfied: six in c:\users\kioolz\anaconda3\lib\site-packages (from plotly) (1.12.0)
Building wheels for collected packages: retrying
  Building wheel for retrying (setup.py): started
  Building wheel for retrying (setup.py): finished with status 'done'
  Created wheel for retrying: filename=retrying-1.3.3-cp37-none-any.whl size=11435 sha256=f8d43cbe4cea83a82a9c3a7165d0df3aa162c6b0a4ad9ed8fdbc7a1a236c3fb0
  Stored in directory: C:\Users\kioolz\AppData\Local\pip\Cache\wheels\d7\a9\33\acc7b709e2a35caa7d4cae442f6fe6fbf2c43f80823d46460c
Successfully built retrying
Installing collected packages: retrying, plotly
Successfully installed plotly-4.11.0 retrying-1.3.3

In [77]:
import plotly as py

plotly_username ="username"
plotly_key = "api_key"
py.sign_in (plotly_username, plotly_key)


data = [go.Histogram(x=daily_log_returns)]
py.iplot(data,filename="basic histogram")

AttributeError: module 'plotly' has no attribute 'sign_in'

In [ ]:
import pandas as pd
import numpy as np 
import plotly.plotly as py 
import datetime 
import pandas_datareader as web 
import plotly.graph_obj as go

In [81]:
def get(ticekrs, startdate, enddate): 
    def data(ticker):
        return (pdr.get_data_yahoo(ticker, start=startdate, end=enddate))
        datas = map(data,tickers) 
        return(pd.concat(datas,keys = tickers, names = ['Ticker', 'Date']))

In [86]:
tickers= ['AAPL','MSFT','^GSPC']
start_date = datetime.datetime(2016,1,1)
end_date = datetime.datetime(2018,12,31)
all_data = get(tickers, start_date, end_date)