In [5]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Coletar dados dos FIIs site Funds Explorer

page = requests.get('https://www.fundsexplorer.com.br/ranking')
soup = BeautifulSoup(page.text, 'html.parser')
table = soup.find("table", attrs={"id":"table-ranking"})

# titulo das variaveis
title_data = table.thead.find_all("th")

# dados dos fundos
table_data = table.tbody.find_all("td")

# separando apenas dados, retira as tags
number_rows = int(len(table_data)/len(title_data))

elements_data = [[0]*len(title_data) for i in range(number_rows)]

i = 0
 
for x in range(number_rows):
    for y in range(len(title_data)):
        elements_data[x][y] = table_data[i].getText()
        i +=1

#criando dataframe

title = ['codigo', 'setor', 'preco_atual', 'liquidez_diaria', 'dividendo',
           'dividendyield', 'DY(3M)_acumulado', 'DY(6M)_acumulado', 
           'DY(12M)_acumulado', 'DY(3M)_media', 'DY(6M)_media', 
           'DY(12M)_media', 'DY_ano', 'variacao_preco', 'rent_periodo', 
           'rent_acumulada', 'patri_liq', 'VPA', 'P/VPA', 'DY_patri', 
           'var_patri', 'rent_patri_periodo', 'rent_patri_acumu',
           'vacancia_fisica', 'vancancia_financeira', 'quantidade_ativos']

data = elements_data
df = pd.DataFrame(data)
df.columns = title

for names in title:
    for i in range(len(df['codigo'])):
        if (type(df[names][i]) == str):
            df[names][i] =df[names][i].replace('.','').replace('R$ ','').replace('%','').replace(',','.')

#salvando dataframe
df.to_csv('dados_FIIs_FundsExplorer.csv', index=False, encoding='utf-32')

In [6]:
df

,codigo,setor,preco_atual,liquidez_diaria,dividendo,dividendyield,DY(3M)_acumulado,DY(6M)_acumulado,DY(12M)_acumulado,DY(3M)_media,...,patri_liq,VPA,P/VPA,DY_patri,var_patri,rent_patri_periodo,rent_patri_acumu,vacancia_fisica,vancancia_financeira,quantidade_ativos
0,FIVN11,Shoppings,4.50,36650,0.00,0.00,0.00,0.00,0.00,0.00,...,67073539.56,7.13,0.63,N/A,N/A,N/A,N/A,56.00,N/A,1
1,BZLI11,Títulos e Val Mob,15.39,50,0.00,0.00,0.00,0.00,0.00,0.00,...,431537173.46,11.71,1.31,N/A,N/A,N/A,N/A,N/A,N/A,0
2,XTED11,Lajes Corporativas,7.12,9510,0.00,0.00,0.00,0.00,0.00,0.00,...,26976019.49,15.05,0.47,N/A,N/A,N/A,N/A,100.00,100.00,1
3,ALMI11,Lajes Corporativas,1359.50,1010,0.00,0.00,0.00,0.00,0.00,0.00,...,223277514.45,2008.31,0.68,N/A,N/A,N/A,N/A,68.15,N/A,1
4,DOMC11,Lajes Corporativas,439.00,420,0.00,0.00,0.00,0.00,0.00,0.00,...,263586942.55,1078.59,0.41,N/A,N/A,N/A,N/A,23.44,N/A,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204,THRA11,Lajes Corporativas,132.00,12970,0.42,0.32,1.17,2.43,5.08,0.39,...,170593083.10,115.83,1.14,N/A,N/A,N/A,N/A,9.81,N/A,1
205,TORD11,Outros,11.99,600210,0.16,1.33,3.65,6.98,0.00,1.22,...,82055220.74,10.46,1.15,N/A,N/A,N/A,N/A,N/A,N/A,0
206,BMLC11,Lajes Corporativas,95.49,2530,0.55,0.58,1.99,3.79,7.38,0.66,...,95126158.88,95.28,1.00,N/A,N/A,N/A,N/A,1.70,N/A,2
207,RBRP11,Outros,98.19,317420,0.52,0.53,1.71,3.56,6.73,0.57,...,756027656.76,88.40,1.11,N/A,N/A,N/A,N/A,7.00,8.00,15
208,DMAC11,Residencial,107.90,8890,0.93,0.86,3.04,5.09,9.64,1.01,...,44106818.77,282.54,0.38,0.65,-13.00,-12.44,-59.86,N/A,N/A,0

In [60]:
df[df["codigo"] == "HABT11"]
#O valor da tabela sai no formato string então fiz uma variável auxiliar para converter o valor em float
xd = df[df["codigo"] == "HABT11"].iloc[-1].values[4] #Aqui saí o valor do último provento
xp = df[df["codigo"] == "HABT11"].iloc[-1].values[2] #Aqui saí o valor da última cotação
x3m = df[df["codigo"] == "HABT11"].iloc[0].values[9] #DY Médio 3 meses
x6m = df[df["codigo"] == "HABT11"].iloc[0].values[10] #Dy Médio 6 meses
x12m = df[df["codigo"] == "HABT11"].iloc[0].values[11] 

#Com isso já dá pra calcular o DY, porém, antes é necessário converter os valores de String para Float
xa = float(xd)
xb = float(xp)
#E com isso definir uma variável auxiliar que me diz o número atual de cotas que eu tenho
Cotas = 1
print(f'Este é o valor do provento do último mês: {xa: .2f}R$')
print(f'Este é o valor do Dividend Yield do último mês: {(xa*100)/xb: .3f}%')
print(f'Atualmente eu tenho {Cotas:.2f} cotas, que na cotação atual estão avaliadas em {Cotas*xb: .2f} R$, essas cotas me geram {Cotas*xa: .2f} R$ por mês, então é esperado que eu receba {Cotas*xa*12: .2f} R$ este ano')
# 2.0.1 - Salário Mínimo em Proventos com base na cotação dada
SalarioMinimo = 1045
# X é o Valor gasto em (R$) para se obter 1 Salário Mínimo em Cotas com o Preço de HOJE
X = (SalarioMinimo*xb)/(xa)
print(f'São necessários um total de {X: .2f}R$ investidos para se alcançar o salário mínimo')
print(f' Isso me geraria um total de {X/xb: .2f} cotas')
# Quantas cotas é possível comprar com 1 milhão de reias?
milhao = 1000000
print(f' Você precisa ter {milhao/xb:.1f} cotas pra ter 1 milhão de reais nesse ativo')
print(f' {(milhao/xb):.1f} cotas vão te  gerar o total de {(milhao/xb) *(xa): .2f} reais mensais')

Este é o valor do provento do último mês:  1.25R$
Este é o valor do Dividend Yield do último mês:  1.009%
Atualmente eu tenho 1.00 cotas, que na cotação atual estão avaliadas em  123.84 R$, essas cotas me geram  1.25 R$ por mês, então é esperado que eu receba  15.00 R$ este ano
São necessários um total de  103530.24R$ investidos para se alcançar o salário mínimo
 Isso me geraria um total de  836.00 cotas
 Você precisa ter 8074.9 cotas pra ter 1 milhão de reais nesse ativo
 8074.9 cotas vão te  gerar o total de  10093.67 reais mensais

In [13]:
x3m = df[df["codigo"] == "HABT11"]
x3m

,codigo,setor,preco_atual,liquidez_diaria,dividendo,dividendyield,DY(3M)_acumulado,DY(6M)_acumulado,DY(12M)_acumulado,DY(3M)_media,...,patri_liq,VPA,P/VPA,DY_patri,var_patri,rent_patri_periodo,rent_patri_acumu,vacancia_fisica,vancancia_financeira,quantidade_ativos
119,HABT11,Títulos e Val Mob,123.84,141510,1.25,1.00,3.75,6.65,11.25,1.25,...,548014330.07,101.26,1.22,N/A,N/A,N/A,N/A,N/A,N/A,0

In [38]:
x6m

'1.11'

In [39]:
x12m

'0.94'