In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Coletar dados dos FIIs site Funds Explorer

page = requests.get('https://www.fundsexplorer.com.br/ranking')
soup = BeautifulSoup(page.text, 'html.parser')
table = soup.find("table", attrs={"id":"table-ranking"})

# titulo das variaveis
title_data = table.thead.find_all("th")

# dados dos fundos
table_data = table.tbody.find_all("td")

# separando apenas dados, retira as tags
number_rows = int(len(table_data)/len(title_data))

elements_data = [[0]*len(title_data) for i in range(number_rows)]

i = 0
 
for x in range(number_rows):
    for y in range(len(title_data)):
        elements_data[x][y] = table_data[i].getText()
        i +=1

#criando dataframe

title = ['codigo', 'setor', 'preco_atual', 'liquidez_diaria', 'dividendo',
           'dividendyield', 'DY(3M)_acumulado', 'DY(6M)_acumulado', 
           'DY(12M)_acumulado', 'DY(3M)_media', 'DY(6M)_media', 
           'DY(12M)_media', 'DY_ano', 'variacao_preco', 'rent_periodo', 
           'rent_acumulada', 'patri_liq', 'VPA', 'P/VPA', 'DY_patri', 
           'var_patri', 'rent_patri_periodo', 'rent_patri_acumu',
           'vacancia_fisica', 'vancancia_financeira', 'quantidade_ativos']

data = elements_data
df = pd.DataFrame(data)
df.columns = title

for names in title:
    for i in range(len(df['codigo'])):
        if (type(df[names][i]) == str):
            df[names][i] =df[names][i].replace('.','').replace('R$ ','').replace('%','').replace(',','.')

#salvando dataframe
df.to_csv('dados_FIIs_FundsExplorer.csv', index=False, encoding='utf-32')

In [4]:
df

,codigo,setor,preco_atual,liquidez_diaria,dividendo,dividendyield,DY(3M)_acumulado,DY(6M)_acumulado,DY(12M)_acumulado,DY(3M)_media,...,patri_liq,VPA,P/VPA,DY_patri,var_patri,rent_patri_periodo,rent_patri_acumu,vacancia_fisica,vancancia_financeira,quantidade_ativos
0,FIVN11,Shoppings,4.30,38280,0.00,0.00,0.00,0.00,0.00,0.00,...,67073539.56,7.13,0.60,N/A,N/A,N/A,N/A,56.00,N/A,1
1,BZLI11,Títulos e Val Mob,15.39,50,0.00,0.00,0.00,0.00,0.00,0.00,...,431537173.46,11.71,1.31,N/A,N/A,N/A,N/A,N/A,N/A,0
2,XTED11,Lajes Corporativas,7.11,17970,0.00,0.00,0.00,0.00,0.00,0.00,...,26976019.49,15.05,0.47,N/A,N/A,N/A,N/A,100.00,100.00,1
3,ALMI11,Lajes Corporativas,1350.00,580,0.00,0.00,0.00,0.00,0.00,0.00,...,223277514.45,2008.31,0.67,N/A,N/A,N/A,N/A,68.15,N/A,1
4,DOMC11,Lajes Corporativas,439.00,420,0.00,0.00,0.00,0.00,0.00,0.00,...,263586942.55,1078.59,0.41,N/A,N/A,N/A,N/A,23.44,N/A,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203,CRFF11,Títulos e Val Mob,81.20,4690,0.45,0.55,1.54,3.08,6.00,0.51,...,65445026.35,94.84,0.86,N/A,N/A,N/A,N/A,N/A,N/A,0
204,RBBV11,Títulos e Val Mob,97.06,2810,1.43,1.46,3.51,4.94,7.19,1.17,...,126535571.48,100.89,0.96,N/A,N/A,N/A,N/A,N/A,N/A,1
205,CXRI11,Híbrido,102.52,19150,0.60,0.53,1.54,2.86,7.41,0.51,...,153040983.83,97.12,1.06,N/A,N/A,N/A,N/A,N/A,N/A,0
206,CTXT11,Lajes Corporativas,38.40,2590,0.10,0.26,1.30,3.64,8.17,0.43,...,125593977.69,48.41,0.79,N/A,N/A,N/A,N/A,58.00,N/A,1
207,GGRC11,Logística,139.75,107330,0.97,0.69,1.74,3.21,6.39,0.58,...,943299423.00,124.46,1.12,N/A,N/A,N/A,N/A,0.00,0.00,15

In [5]:
df[df["codigo"] == "MXRF11"]

,codigo,setor,preco_atual,liquidez_diaria,dividendo,dividendyield,DY(3M)_acumulado,DY(6M)_acumulado,DY(12M)_acumulado,DY(3M)_media,...,patri_liq,VPA,P/VPA,DY_patri,var_patri,rent_patri_periodo,rent_patri_acumu,vacancia_fisica,vancancia_financeira,quantidade_ativos
186,MXRF11,Híbrido,10.63,6005920,0.08,0.75,1.99,3.86,8.07,0.66,...,1834274376.56,10.05,1.06,N/A,N/A,N/A,N/A,N/A,N/A,0

In [6]:
#O valor da tabela sai no formato string então fiz uma variável auxiliar para converter o valor em float
xd = df[df["codigo"] == "MXRF11"].iloc[-1].values[4] #Aqui saí o valor do último provento
xp = df[df["codigo"] == "MXRF11"].iloc[-1].values[2] #Aqui saí o valor da última cotação
#Com isso já dá pra calcular o DY, porém, antes é necessário converter os valores de String para Float
xa = float(xd)
xb = float(xp)
#E com isso definir uma variável auxiliar que me diz o número atual de cotas que eu tenho
Cotas = 49
print(f'Este é o valor do provento do último mês: {xa: .2f}R$')
print(f'Este é o valor do Dividend Yield do último mês: {(xa*100)/xb: .3f}%')
print(f'Atualmente eu tenho {Cotas:.2f} cotas, que na cotação atual estão avaliadas em {Cotas*xb: .2f} R$, essas cotas me geram {Cotas*xa: .2f} R$ por mês, então é esperado que eu receba {Cotas*xa*12: .2f} R$ este ano')

Este é o valor do provento do último mês:  0.08R$
Este é o valor do Dividend Yield do último mês:  0.753%
Atualmente eu tenho 49.00 cotas, que na cotação atual estão avaliadas em  520.87 R$, essas cotas me geram  3.92 R$ por mês, então é esperado que eu receba  47.04 R$ este ano

In [7]:
# 2.0.1 - Salário Mínimo em Proventos com base na cotação dada
SalarioMinimo = 1045
# X é o Valor gasto em (R$) para se obter 1 Salário Mínimo em Cotas com o Preço de HOJE
X = (SalarioMinimo*xb)/(xa)
print(f'São necessários um total de {X: .2f}R$ investidos para se alcançar o salário mínimo')
print(f' Isso me geraria um total de {X/xb: .2f} cotas')

São necessários um total de  138854.38R$ investidos para se alcançar o salário mínimo
 Isso me geraria um total de  13062.50 cotas

In [8]:
# Quantas cotas é possível comprar com 1 milhão de reias?
milhao = 1000000
print(f' Você precisa ter {milhao/xb:.1f} cotas pra ter 1 milhão de reais nesse ativo')
print(f' {(milhao/xb):.1f} cotas vão te  gerar o total de {(milhao/xb) *(xa): .2f} reais mensais')

 Você precisa ter 94073.4 cotas pra ter 1 milhão de reais nesse ativo
 94073.4 cotas vão te  gerar o total de  7525.87 reais mensais

In [ ]:
# Formas de filtrar o DataFrame a partir de uma String dentro dele.

In [11]:
df_filtrado = df[df["codigo"] == "MXRF11"]
df_filtrado = df[df["codigo"] == "MXRF11"]
df_filtrado
df[df['codigo'].str.contains("MXRF11")]

,codigo,setor,preco_atual,liquidez_diaria,dividendo,dividendyield,DY(3M)_acumulado,DY(6M)_acumulado,DY(12M)_acumulado,DY(3M)_media,...,patri_liq,VPA,P/VPA,DY_patri,var_patri,rent_patri_periodo,rent_patri_acumu,vacancia_fisica,vancancia_financeira,quantidade_ativos
186,MXRF11,Híbrido,10.63,6005920,0.08,0.75,1.99,3.86,8.07,0.66,...,1834274376.56,10.05,1.06,N/A,N/A,N/A,N/A,N/A,N/A,0

In [14]:
df[df['codigo'].str.contains("KNRI11")]
#--------------------------------------#
busca = ['MXRF11']
df[df['codigo'].isin(busca)]
#--------------------------------------#
df[df.loc[:,'codigo'] == 'MXRF11']

,codigo,setor,preco_atual,liquidez_diaria,dividendo,dividendyield,DY(3M)_acumulado,DY(6M)_acumulado,DY(12M)_acumulado,DY(3M)_media,...,patri_liq,VPA,P/VPA,DY_patri,var_patri,rent_patri_periodo,rent_patri_acumu,vacancia_fisica,vancancia_financeira,quantidade_ativos
186,MXRF11,Híbrido,10.63,6005920,0.08,0.75,1.99,3.86,8.07,0.66,...,1834274376.56,10.05,1.06,N/A,N/A,N/A,N/A,N/A,N/A,0