In [1]:
#Importando a biblioteca Pandas e o registro do tempo para o Python

import pandas as pd
from datetime import date
from pandas import DataFrame, Series
import matplotlib.pyplot as plt

In [2]:

# Criando uma série no pandas que represente a indexação das linhas como valores temporais
# Por exemplo, datas do calendário do ano.
dates = pd.date_range('2019-09-21', '2019-09-25')
dates

DatetimeIndex(['2019-09-21', '2019-09-22', '2019-09-23', '2019-09-24',
               '2019-09-25'],
              dtype='datetime64[ns]', freq='D')

In [4]:

#Criando um dataframe de uma linha e uma coluna, ou uma série. 
#renomeando as linhas ou índices i da série ou matriz ou dataframe (df) através do comando 'index'
# Acrescentando a série de datas a Série numérica criada. 
#E Agora vamos inserir variáveis reais ao problema
#inserindo a variável Montante inicial como uma série numérica
MontanteInicial= Series([6986.16, 6986.16, 6986.16, 6986.16, 6986.16], index = dates)
MontanteInicial

2019-09-21    6986.16
2019-09-22    6986.16
2019-09-23    6986.16
2019-09-24    6986.16
2019-09-25    6986.16
Freq: D, dtype: float64

In [5]:
#Repetindo o processo para os valores ganhos diariamente em relação ao dia anterior.
#Podemos construir uma tabela de valores que apresente o lucro diário em relação ao dia anterior
MontanteFinal = Series([6990, 6991, 6994, 6998, 7000], index = dates)
MontanteFinal

2019-09-21    6990
2019-09-22    6991
2019-09-23    6994
2019-09-24    6998
2019-09-25    7000
Freq: D, dtype: int64

In [6]:
#Operação de subtração entre as componentes da lista - Criando através da operação, uma lista
#que me diz quanto lucrei no total. 
#Calculando a diferença entre os índices da matriz/Dataframe e plotando a resposta no próprio DF.
LucroTotal = MontanteFinal-MontanteInicial
LucroTotal
    
# E com a operação feita, posso associar a tabela o valor da Taxa Selic em cada dia e alterar como conforme a necessidade.
TaxaSelic = Series(['5.5%', '5.5%', '5.5%', '5.5%', '5.5%'], index = dates)

#Criando um DataFrame que usa como colunas, duas séries que representam numeros aleatórios associado a duas possiveis variáveis.
df_temp = DataFrame({'Montante Final': MontanteFinal, 'Montante Inicial': MontanteInicial, 'Taxa Selic': TaxaSelic, 'Lucro Total' : LucroTotal})
df_temp

            Montante Final  Montante Inicial Taxa Selic  Lucro Total
2019-09-21            6990           6986.16       5.5%         3.84
2019-09-22            6991           6986.16       5.5%         4.84
2019-09-23            6994           6986.16       5.5%         7.84
2019-09-24            6998           6986.16       5.5%        11.84
2019-09-25            7000           6986.16       5.5%        13.84