In [1]:
import pandas as pd
import numpy as np

In [2]:
# -*- coding: utf-8 -*-
"""
Criado em 25/01/2021 pelo usuário
@author: Kioolz
"""
#Taxa Selic inserida pelo usuário
selic = float(input("Insira o valor da taxa SELIC"))
print (f'Este é o valor da taxa selic inserida : {selic:.1f} % ao ano' )
selicaomes = selic/12  # Variavel para descobrir o valor por mês
print (f'Este seria o valor da taxa selic {selicaomes:.1f}% ao mes')
selicaodia = selic/365 # // Para descobrir o valor por dia
print (f'E este seria o valor da taxa selic {selicaodia:.1f}% ao dia')
aporte = float(input("Insira o valor do aporte para ser calculado"))
print(f'Este é o valor do aporte inserido: {aporte:.1f} reais')

Este é o valor da taxa selic inserida : 6.0 % ao ano
Este seria o valor da taxa selic 0.5% ao mes
E este seria o valor da taxa selic 0.0% ao dia
Este é o valor do aporte inserido: 100000.0 reais

In [3]:
RendimentoMensal = aporte*(selicaomes/100)
print (f'Este é o total após 30 dias: {RendimentoMensal:.1f}')

Este é o total após 30 dias: 500.0

In [4]:
ValorAcumuladoMensal = RendimentoMensal+aporte
print(ValorAcumuladoMensal)

100500.0

In [5]:
print("Este é o total após 1 dia")
RendimentoDiário = aporte*(selicaodia/100)
print(RendimentoDiário)

Este é o total após 1 dia
16.43835616438356

In [6]:
ValorAcumuladoDiario = RendimentoDiário+aporte
ValorAcumuladoDiario

100016.43835616438

In [7]:
Colunas = ["Rendimento Anual", "Aporte Inicial", "Rendimento Mensal", "ValorAcumuladoMensal"]
df = pd.DataFrame(columns=Colunas)
df

Empty DataFrame
Columns: [Rendimento Anual, Aporte Inicial, Rendimento Mensal, ValorAcumuladoMensal]
Index: []

In [9]:
X = [selic/100, aporte, RendimentoDiário, ValorAcumuladoDiario]
print(X)

[0.06, 100000.0, 16.43835616438356, 100016.43835616438]

In [10]:
df

Empty DataFrame
Columns: [Rendimento Anual, Aporte Inicial, Rendimento Mensal, ValorAcumuladoMensal]
Index: []

In [11]:
to_append = X

In [12]:
df_lenght = len(df)
df.loc[df_lenght] = to_append
df

   Rendimento Anual  Aporte Inicial  Rendimento Mensal  ValorAcumuladoMensal
0              0.06        100000.0          16.438356         100016.438356

In [13]:
i = 0
Y = [X[0],X[1]+RendimentoDiário,(aporte+RendimentoDiário)*selic/(100*365),ValorAcumuladoDiario+(aporte+RendimentoDiário)*selic/(100*365)]

In [16]:
 to_append = Y

In [17]:
to_append = Y
df_lenght = len(df)
df.loc[df_lenght] = to_append
df

   Rendimento Anual  Aporte Inicial  Rendimento Mensal  ValorAcumuladoMensal
0          0.060000   100000.000000          16.438356         100016.438356
1          0.060000   100016.438356          16.441058         100032.879415
2          0.060000   100016.438356          16.441058         100032.879415
3     100000.000000       32.876712          16.441058         100032.879415
4         16.438356   100032.876712          16.441058         100032.879415

In [15]:

for i in range (10):
    to_append = Y
    Y = [X[i],X[i+1]+RendimentoDiário,(aporte+RendimentoDiário)*selic/(100*365),ValorAcumuladoDiario+(aporte+RendimentoDiário)*selic/(100*365)]
    df_lenght = len(df)
    df.loc[df_lenght] = to_append
    i=i+1
i=0
df

IndexError: list index out of range

In [ ]:
df

In [ ]:

#------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------#





taxaselic=(5.5/36500) #  ( 5.5/100 ) 365 para transformar de ano para dia
#Tabela regressiva do IR
Valoraplicado=float(input('Insira o valor aplicado'))                    
tempoaplicadoemdias=int(input('Insira o número de dias que o valor ficou aplicado'))

In [ ]:
#Estrutura condicional para estabelecer o cálculo do IR 
#para os dias que o valor ficou rendendo na SELIC
if ((tempoaplicadoemdias)<180):
    valorfinal = Valoraplicado + (Valoraplicado * tempoaplicadoemdias * IR1 * taxaselic)
    print(valorfinal)
if ((tempoaplicadoemdias)>180 and (tempoaplicadoemdias)<360):
    valorfinal = Valoraplicado + (Valoraplicado * tempoaplicadoemdias * IR2 * taxaselic)
    print(valorfinal)
if ((tempoaplicadoemdias)>180 and (tempoaplicadoemdias)<720):
    valorfinal = Valoraplicado + (Valoraplicado * tempoaplicadoemdias * IR3 * taxaselic)
    print(valorfinal)
if ((tempoaplicadoemdias)>(720)):
    valorfinal = Valoraplicado + (Valoraplicado * tempoaplicadoemdias * IR4 * taxaselic)
    print(valorfinal)

In [ ]:
IR1=22.5/100
IR2=20/100
IR3=17.5/100
IR4=15/100
IOF=1