In [2]:
import pandas as pd
import numpy as np

In [3]:
# -*- coding: utf-8 -*-
"""
Criado em 25/01/2021 pelo usuário
@author: Kioolz
"""
#Taxa Selic inserida pelo usuário
selic = float(input("Insira o valor da taxa SELIC"))
print (f'Este é o valor da taxa selic inserida : {selic:.1f} % ao ano' )
selicaomes = selic/12  # Variavel para descobrir o valor por mês
print (f'Este seria o valor da taxa selic {selicaomes:.1f}% ao mes')
selicaodia = selic/365 # // Para descobrir o valor por dia
print (f'E este seria o valor da taxa selic {selicaodia:.1f}% ao dia')

Este é o valor da taxa selic inserida : 45.0 % ao ano
Este seria o valor da taxa selic 3.8% ao mes
E este seria o valor da taxa selic 0.1% ao dia

In [4]:
aporte = float(input("Insira o valor do aporte para ser calculado"))
print(f'Este é o valor do aporte inserido: {aporte:.1f} reais')

Este é o valor do aporte inserido: 1000.0 reais

In [5]:
RendimentoMensal = aporte*(selicaomes/100)
print (f'Este é o total após 30 dias: {RendimentoMensal:.1f}')
print  (RendimentoMensal)

Este é o total após 30 dias: 37.5
37.5

In [6]:
ValorAcumuladoMensal = RendimentoMensal+aporte
print(ValorAcumuladoMensal)

1037.5

In [7]:
print("Este é o total após 1 dia")
RendimentoDiário = aporte*(selicaodia/100)
print(RendimentoDiário)

Este é o total após 1 dia
1.2328767123287672

In [8]:
ValorAcumuladoDiario = RendimentoDiário+aporte
ValorAcumuladoDiario

1001.2328767123288

In [14]:
Colunas = ["A", "B", "C", "D"]
df = pd.DataFrame(columns=Colunas)
df

Empty DataFrame
Columns: [A, B, C, D]
Index: []

In [15]:
DadosInicias = [selic/100, aporte, RendimentoMensal, ValorAcumuladoMensal]

In [16]:
print(DadosInicias)

[0.45, 1000.0, 37.5, 1037.5]

In [17]:
df.append(DadosInicias)

     A    B    C    D        0
0  NaN  NaN  NaN  NaN     0.45
1  NaN  NaN  NaN  NaN  1000.00
2  NaN  NaN  NaN  NaN    37.50
3  NaN  NaN  NaN  NaN  1037.50

In [ ]:

#------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------#





taxaselic=(5.5/36500) #  ( 5.5/100 ) 365 para transformar de ano para dia
#Tabela regressiva do IR
Valoraplicado=float(input('Insira o valor aplicado'))                    
tempoaplicadoemdias=int(input('Insira o número de dias que o valor ficou aplicado'))

In [ ]:
#Estrutura condicional para estabelecer o cálculo do IR 
#para os dias que o valor ficou rendendo na SELIC
if ((tempoaplicadoemdias)<180):
    valorfinal = Valoraplicado + (Valoraplicado * tempoaplicadoemdias * IR1 * taxaselic)
    print(valorfinal)
if ((tempoaplicadoemdias)>180 and (tempoaplicadoemdias)<360):
    valorfinal = Valoraplicado + (Valoraplicado * tempoaplicadoemdias * IR2 * taxaselic)
    print(valorfinal)
if ((tempoaplicadoemdias)>180 and (tempoaplicadoemdias)<720):
    valorfinal = Valoraplicado + (Valoraplicado * tempoaplicadoemdias * IR3 * taxaselic)
    print(valorfinal)
if ((tempoaplicadoemdias)>(720)):
    valorfinal = Valoraplicado + (Valoraplicado * tempoaplicadoemdias * IR4 * taxaselic)
    print(valorfinal)

In [ ]:
IR1=22.5/100
IR2=20/100
IR3=17.5/100
IR4=15/100
IOF=1